In [7]:
import os
import glob
import numpy as np
import pandas as pd
import gc
import calendar
import datetime

import cudf
import cupy
import nvtabular as nvt
from merlin.dag import ColumnSelector
from merlin.schema import Schema, Tags
import nvtabular as nv

In [8]:
from nvtabular.ops import *

In [4]:
month1 = "202202"
month3 = "202204"
mydata = cudf.read_parquet(f"s3a://zarklab-token-recommender/buy-sell-updated-{month1}-{month3}")

In [20]:
# Initialize Dataset with s3 parquet data
# dataset = nv.Dataset("s3:///zarklab-hive-test/buy-sell-updated/pt_d=2023*/*",engine="parquet")
mydata = cudf.read_parquet("s3a://zarklab-hive-test/buy-sell-updated/pt_d=2023*/*.parquet")

MemoryError: std::bad_alloc: out_of_memory: CUDA error at: /home/ec2-user/SageMaker/.persisted_conda/transformers4rec-23.04/include/rmm/mr/device/cuda_memory_resource.hpp

In [12]:
data2 = nv.Dataset('/zarklab-hive-test/buy-sell-updated/pt_d=2023*/*',engine = 'parquet')

IndexError: list index out of range

# remove duplicate

In [4]:
mydata['timestamp'] = cudf.to_datetime(mydata['timestamp'])

In [5]:
print("Count with  repeated interactions: {}".format(len(mydata)))

# Sorts the dataframe by session and timestamp, to remove consecutive repetitions
# mydata.timestamp = mydata.timestamp.astype(int)
interactions_df = mydata.sort_values(['recipient', 'timestamp'])
past_ids = interactions_df['buyAsset'].shift(1).fillna()
session_past_ids = interactions_df['recipient'].shift(1).fillna()

# Keeping only no consecutive repeated in session interactions
interactions_df = interactions_df[~((interactions_df['recipient'] == session_past_ids) & (interactions_df['buyAsset'] == past_ids))]

print("Count after removed in-session repeated interactions: {}".format(len(interactions_df)))

Count with  repeated interactions: 1725084
Count after removed in-session repeated interactions: 955723

In [6]:
interactions_df.head()

,timestamp,recipient,txFee_eth,buyAsset,buyQty1,buyPrice,merge,combined_token_name,combined_token_symbol,token_category,token_rank_category,risky_flags,bluecheckmark
1664529,2022-03-12 06:41:35,0x000000000000000000000000000000000000005f,0.004351,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.07,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
409331,2022-03-17 03:49:58,0x00000000000000000000000000000000000000e0,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.62,17.64,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
1302535,2022-03-13 10:02:30,0x00000000000000000000000000000000000000f1,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.03,0.88,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
963579,2022-03-10 23:21:45,0x0000000000000000000000000000000000000139,0.004353,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.12,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
765950,2022-03-18 00:27:11,0x000000000000000000000000000000000000016e,0.004354,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,3.38,94.19,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE

In [7]:
dataset = nv.Dataset(interactions_df)

In [8]:
dataset.head()

,timestamp,recipient,txFee_eth,buyAsset,buyQty1,buyPrice,merge,combined_token_name,combined_token_symbol,token_category,token_rank_category,risky_flags,bluecheckmark
1664529,2022-03-12 06:41:35,0x000000000000000000000000000000000000005f,0.004351,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.07,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
409331,2022-03-17 03:49:58,0x00000000000000000000000000000000000000e0,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.62,17.64,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
1302535,2022-03-13 10:02:30,0x00000000000000000000000000000000000000f1,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.03,0.88,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
963579,2022-03-10 23:21:45,0x0000000000000000000000000000000000000139,0.004353,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.12,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
765950,2022-03-18 00:27:11,0x000000000000000000000000000000000000016e,0.004354,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,3.38,94.19,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE

In [17]:
SESSIONS_MAX_LENGTH = 1

# Encodes categorical features as contiguous integers
cat_feats = ColumnSelector(['buyAsset']) >> nvt.ops.Categorify()

In [18]:
# create time features
session_ts = ColumnSelector(['timestamp'])
session_time = (
    session_ts >> 
    nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col)) >> 
    nvt.ops.Rename(name = 'timestamp')
)

In [19]:

buyPrice_norm =  ColumnSelector(['buyPrice']) >> nvt.ops.Rename(name='buyPrice_log_norm')

In [20]:
features = ColumnSelector(['recipient']) + buyPrice_norm +session_time+cat_feats

In [21]:
# Define Groupby Operator
groupby_features = features >> nvt.ops.Groupby(
    groupby_cols=["recipient"], 
    sort_cols=["timestamp"],
    aggs={
        'buyAsset': ["list", "count"],
        'timestamp': ["first"],  
        'buyPrice_log_norm': ["list"]
    },
    name_sep="-")

In [22]:
# Select and truncate the sequential features


sequence_features_truncated_item = (
    groupby_features['buyAsset-list']
    >> nvt.ops.ListSlice(-SESSIONS_MAX_LENGTH) 
    >> TagAsItemID()
)  
sequence_features_truncated_cont = (
    groupby_features['buyPrice_log_norm-list'] 
    >> nvt.ops.ListSlice(-SESSIONS_MAX_LENGTH) 
    >> nvt.ops.AddMetadata(tags=[Tags.CONTINUOUS])
)

In [23]:
MINIMUM_SESSION_LENGTH = 1
selected_features = (
    groupby_features['recipient','buyAsset-count', 'timestamp-first' ] + 
    sequence_features_truncated_item +
    sequence_features_truncated_cont
)
    
filtered_sessions = selected_features >> nvt.ops.Filter(f=lambda df: df["buyAsset-count"] >= MINIMUM_SESSION_LENGTH)

seq_feats_list = filtered_sessions['buyAsset-list', 'buyPrice_log_norm-list'] >>  nvt.ops.ValueCount()

workflow = nvt.Workflow(filtered_sessions['recipient', 'timestamp-first'] + seq_feats_list)

In [24]:
#workflow = nvt.Workflow.load('./preprocessWorkflow')
workflow.fit(dataset)

In [25]:
out = workflow.transform(dataset)

In [27]:
out.head(60)

,recipient,timestamp-first,buyAsset-list,buyPrice_log_norm-list
0,0x000000000000000000000000000000000000005f,2022-03-12 06:41:35,[478],[0.07]
1,0x00000000000000000000000000000000000000e0,2022-03-17 03:49:58,[478],[17.64]
2,0x00000000000000000000000000000000000000f1,2022-03-13 10:02:30,[478],[0.88]
3,0x0000000000000000000000000000000000000139,2022-03-10 23:21:45,[478],[0.12]
4,0x000000000000000000000000000000000000016e,2022-03-18 00:27:11,[478],[94.19]
5,0x0000000000000000000000000000000000000185,2022-03-12 21:26:02,[478],[3.49]
6,0x00000000000000000000000000000000000001f0,2022-03-11 03:07:06,[478],[0.14]
7,0x00000000000000000000000000000000000002e7,2022-03-14 15:53:11,[478],[0.42]
8,0x0000000000000000000000000000000000000336,2022-03-10 23:30:33,[478],[51.52]
9,0x0000000000000000000000000000000000000340,2022-03-18 00:29:22,[478],[19.14]
10,0x000000000000000000000000000000000000041e,2022-03-10 22:39:15,[478],[30.25]
11,0x00000000000000000000000000000000000004ef,2022-03-10 22:10:36,[478],[6.37]
12,0x000000000000000000000000000000000000054f,2022-03-11 18:27:44,[478],[7.97]
13,0x00000000000000000000000000000000000005ab,2022-03-11 04:16:12,[478],[16.96]
14,0x0000000000000000000000000000000000000651,2022-03-16 07:31:08,[478],[27.11]
15,0x0000000000000000000000000000000000000684,2022-03-11 07:16:28,[478],[2.18]
16,0x00000000000000000000000000000000000007d6,2022-03-11 05:02:17,[478],[5.66]
17,0x00000000000000000000000000000000000008ae,2022-03-11 10:19:10,[478],[7.67]
18,0x0000000000000000000000000000000000000916,2022-03-11 07:05:58,[478],[0.02]
19,0x00000000000000000000000000000000000009ac,2022-03-10 22:17:45,[478],[2.81]
20,0x0000000000000000000000000000000000000a12,2022-03-11 04:10:53,[478],[1.13]
21,0x0000000000000000000000000000000000000a3c,2022-02-04 07:04:44,[478],[43.91]
22,0x0000000000000000000000000000000000000ad7,2022-03-10 21:55:49,[478],[0.89]
23,0x0000000000000000000000000000000000000af5,2022-03-12 20:43:27,[478],[3.34]
24,0x0000000000000000000000000000000000000b06,2022-03-12 17:36:12,[478],[0.01]
25,0x0000000000000000000000000000000000000b1d,2022-03-10 21:50:51,[478],[1.44]
26,0x0000000000000000000000000000000000000b24,2022-03-11 01:26:25,[478],[3.98]
27,0x0000000000000000000000000000000000000b2e,2022-03-11 09:42:02,[478],[1.8]
28,0x0000000000000000000000000000000000000b6d,2022-03-11 05:34:35,[478],[0.62]
29,0x0000000000000000000000000000000000000c07,2022-03-10 21:40:59,[478],[3.33]
30,0x0000000000000000000000000000000000000c08,2022-03-11 11:03:51,[478],[0.36]
31,0x0000000000000000000000000000000000000d1b,2022-03-16 09:27:29,[478],[5.38]
32,0x0000000000000000000000000000000000000d26,2022-03-18 04:42:16,[478],[0.01]
33,0x0000000000000000000000000000000000000d3b,2022-03-11 06:51:48,[478],[0.02]
34,0x0000000000000000000000000000000000000d49,2022-03-10 23:26:41,[478],[0.88]
35,0x0000000000000000000000000000000000000dd7,2022-03-10 22:49:03,[478],[0.45]
36,0x0000000000000000000000000000000000000dda,2022-03-11 08:46:36,[478],[80.62]
37,0x0000000000000000000000000000000000000df2,2022-03-10 23:16:18,[478],[18.23]
38,0x0000000000000000000000000000000000000e3f,2022-03-17 14:52:53,[478],[880.34]
39,0x0000000000000000000000000000000000000f0e,2022-03-10 22:35:29,[478],[2.5]
40,0x0000000000000000000000000000000000000f7e,2022-03-13 16:56:38,[478],[0.57]
41,0x0000000000000000000000000000000000000f89,2022-03-10 22:38:45,[478],[0.95]
42,0x0000000000000000000000000000000000001032,2022-03-10 22:27:25,[478],[2.71]
43,0x00000000000000000000000000000000000010b1,2022-03-10 22:14:54,[478],[3.03]
44,0x0000000000000000000000000000000000001103,2022-03-10 22:25:41,[478],[3.9]
45,0x00000000000000000000000000000000000011f2,2022-03-12 02:18:52,[478],[0.68]
46,0x0000000000000000000000000000000000001206,2022-03-11 07:21:02,[478],[33.23]
47,0x000000000000000000000000000000000000129c,2022-03-10 21:55:41,[478],[2.35]
48,0x00000000000000000000000000000000000012b4,2022-03-10 22:23:43,[478],[0.66]
49,0x0000000000000000000000000000000000001325,2022-03-10 23:38:59,[478],[20.47]
50,0x000000000000000000000000000000000000132a,2022-02-05 06:47:58,[478],[14.19]
51,0x000000000000000000000000000000000000133b,2022-03-11 03:16:05,[478],[0.64]
52,0x000000000000000000000000000000000000137f,2022-03-13 19:38:28,[478],[0.16]
53,0x000000000000000000000000000000000000138a,2022-03-10 23:16:42,[478],[7.31]
54,0x0000000000000000000000000000000000001526,2022-03-16 16:30:13,[478],[86.55]
55,0x000000000000000000000000000000000000173b,2022-03-14 16:00:26,[478],[8.05]
56,0x00000000000000000000000000000000000017ee,2022-03-11 09:58:37,[478],[0.11]
57,0x00000000000000000000000000000000000019d5,2022-03-10 22:28:52,[478],[12.83]
58,0x00000000000000000000000000000000000019f3,2022-03-10 21:36:35,[478],[0.99]
59,0x00000000000000000000000000000000000019f4,2022-03-10 21:37:19,[478],[0.16]

In [87]:
# workflow.save('./preprocessWorkflow')

In [28]:
out.to_parquet(f'./data/price/data.parquet')