In [1]:
import os
import glob
import numpy as np
import pandas as pd
import gc
import calendar
import datetime

import cudf
import cupy
import nvtabular as nvt
from merlin.dag import ColumnSelector
from merlin.schema import Schema, Tags
import nvtabular as nv

/home/ec2-user/SageMaker/.persisted_conda/transformers4rec-23.04/lib/python3.10/site-packages/merlin/dtypes/mappings/tf.py:52: UserWarning: Tensorflow dtype mappings did not load successfully due to an error: No module named 'tensorflow'
  warn(f"Tensorflow dtype mappings did not load successfully due to an error: {exc.msg}")
/home/ec2-user/SageMaker/.persisted_conda/transformers4rec-23.04/lib/python3.10/site-packages/merlin/dtypes/mappings/triton.py:53: UserWarning: Triton dtype mappings did not load successfully due to an error: No module named 'tritonclient'
  warn(f"Triton dtype mappings did not load successfully due to an error: {exc.msg}")

In [2]:
from nvtabular.ops import *

In [ ]:
mydata = cudf.read_parquet(f"s3a://zarklab-hive-test/buy-sell-updated/")

In [89]:
month1 = "202202"
month3 = "202204"
mydata = cudf.read_parquet(f"s3a://zarklab-token-recommender/buy-sell-updated-{month1}-{month3}")
zarklab-hive-test

# remove duplicate

In [90]:
mydata['timestamp'] = cudf.to_datetime(mydata['timestamp'])

In [91]:
print("Count with  repeated interactions: {}".format(len(mydata)))

# Sorts the dataframe by session and timestamp, to remove consecutive repetitions
# mydata.timestamp = mydata.timestamp.astype(int)
interactions_df = mydata.sort_values(['recipient', 'timestamp'])
past_ids = interactions_df['buyAsset'].shift(1).fillna()
session_past_ids = interactions_df['recipient'].shift(1).fillna()

# Keeping only no consecutive repeated in session interactions
interactions_df = interactions_df[~((interactions_df['recipient'] == session_past_ids) & (interactions_df['buyAsset'] == past_ids))]

print("Count after removed in-session repeated interactions: {}".format(len(interactions_df)))

Count with  repeated interactions: 1725084
Count after removed in-session repeated interactions: 955723

In [92]:
interactions_df.head()

,timestamp,recipient,txFee_eth,buyAsset,buyQty1,buyPrice,merge,combined_token_name,combined_token_symbol,token_category,token_rank_category,risky_flags,bluecheckmark
1664529,2022-03-12 06:41:35,0x000000000000000000000000000000000000005f,0.004351,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.07,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
409331,2022-03-17 03:49:58,0x00000000000000000000000000000000000000e0,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.62,17.64,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
1302535,2022-03-13 10:02:30,0x00000000000000000000000000000000000000f1,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.03,0.88,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
963579,2022-03-10 23:21:45,0x0000000000000000000000000000000000000139,0.004353,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.12,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
765950,2022-03-18 00:27:11,0x000000000000000000000000000000000000016e,0.004354,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,3.38,94.19,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE

In [93]:
dataset = nv.Dataset(interactions_df)

In [94]:
dataset.head()

,timestamp,recipient,txFee_eth,buyAsset,buyQty1,buyPrice,merge,combined_token_name,combined_token_symbol,token_category,token_rank_category,risky_flags,bluecheckmark
1664529,2022-03-12 06:41:35,0x000000000000000000000000000000000000005f,0.004351,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.07,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
409331,2022-03-17 03:49:58,0x00000000000000000000000000000000000000e0,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.62,17.64,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
1302535,2022-03-13 10:02:30,0x00000000000000000000000000000000000000f1,0.004352,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.03,0.88,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
963579,2022-03-10 23:21:45,0x0000000000000000000000000000000000000139,0.004353,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,0.00,0.12,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE
765950,2022-03-18 00:27:11,0x000000000000000000000000000000000000016e,0.004354,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,3.38,94.19,0x1776e1f26f98b1a5df9cd347953a26dd3cb46671,Numeraire,nmr,Crowdfunding and Launchpads,Nano,0,TRUE

In [95]:
SESSIONS_MAX_LENGTH = 20

# Encodes categorical features as contiguous integers
cat_feats = ColumnSelector(['buyAsset','token_category','token_rank_category','risky_flags']) >> nvt.ops.Categorify()

In [96]:
# create time features
session_ts = ColumnSelector(['timestamp'])
session_time = (
    session_ts >> 
    nvt.ops.LambdaOp(lambda col: cudf.to_datetime(col)) >> 
    nvt.ops.Rename(name = 'timestamp')
)
sessiontime_weekday = (
    session_time >> 
    nvt.ops.LambdaOp(lambda col: col.dt.weekday) >> 
    nvt.ops.Rename(name ='et_dayofweek')
)

In [97]:
# Derive cyclical features: Define a custom lambda function 
def get_cycled_feature_value_sin(col, max_value):
    value_scaled = (col + 0.000001) / max_value
    value_sin = np.sin(2*np.pi*value_scaled)
    return value_sin

weekday_sin = sessiontime_weekday >> (lambda col: get_cycled_feature_value_sin(col+1, 7)) >> nvt.ops.Rename(name = 'et_dayofweek_sin')

In [98]:
time_features = (
    session_time +
    sessiontime_weekday +
    weekday_sin )

In [99]:
txFee_eth_norm =  ColumnSelector(['txFee_eth']) >> nvt.ops.LogOp() >> nvt.ops.Normalize(out_dtype=np.float32) >> nvt.ops.Rename(name='txFee_eth_log_norm')
buyQty1_norm =  ColumnSelector(['buyQty1'])  >> nvt.ops.LogOp()>> nvt.ops.Normalize(out_dtype=np.float32) >> nvt.ops.Rename(name='buyQty1_log_norm')
buyPrice_norm =  ColumnSelector(['buyPrice']) >>nvt.ops.Clip(min_value=0, max_value=1000000)>> nvt.ops.LogOp() >> nvt.ops.Normalize(out_dtype=np.float32) >> nvt.ops.Rename(name='buyPrice_log_norm')

In [100]:
features = ColumnSelector(['recipient']) + cat_feats + time_features + txFee_eth_norm + buyQty1_norm + buyPrice_norm

In [101]:
# Define Groupby Operator
groupby_features = features >> nvt.ops.Groupby(
    groupby_cols=["recipient"], 
    sort_cols=["timestamp"],
    aggs={
        'buyAsset': ["list", "count"],
        'timestamp': ["first"],  
        'et_dayofweek_sin': ["list"],
        'txFee_eth_log_norm': ["list"],
        'buyQty1_log_norm': ["list"],
        'buyPrice_log_norm': ["list"],
        'token_category': ["list"],
        'token_rank_category': ["list"],
        'risky_flags': ["list"]
    },
    name_sep="-")

In [102]:
# Select and truncate the sequential features
sequence_features_truncated = (
    groupby_features['token_category-list','token_rank_category-list','risky_flags-list']
    >> nvt.ops.ListSlice(-SESSIONS_MAX_LENGTH) 
)

sequence_features_truncated_item = (
    groupby_features['buyAsset-list']
    >> nvt.ops.ListSlice(-SESSIONS_MAX_LENGTH) 
    >> TagAsItemID()
)  
sequence_features_truncated_cont = (
    groupby_features['et_dayofweek_sin-list', 'txFee_eth_log_norm-list','buyQty1_log_norm-list','buyPrice_log_norm-list'] 
    >> nvt.ops.ListSlice(-SESSIONS_MAX_LENGTH) 
    >> nvt.ops.AddMetadata(tags=[Tags.CONTINUOUS])
)

In [103]:
MINIMUM_SESSION_LENGTH = 2
selected_features = (
    groupby_features['buyAsset-count', 'timestamp-first', 'recipient'] + 
    sequence_features_truncated +
    sequence_features_truncated_item +
    sequence_features_truncated_cont
)
    
filtered_sessions = selected_features >> nvt.ops.Filter(f=lambda df: df["buyAsset-count"] >= MINIMUM_SESSION_LENGTH)

seq_feats_list = filtered_sessions['buyAsset-list', 'et_dayofweek_sin-list', 'txFee_eth_log_norm-list','buyQty1_log_norm-list','buyPrice_log_norm-list','token_category-list','token_rank_category-list','risky_flags-list'] >>  nvt.ops.ValueCount()

workflow = nvt.Workflow(filtered_sessions['recipient', 'timestamp-first'] + seq_feats_list)

In [104]:
workflow = nvt.Workflow.load('./preprocessWorkflow')
#workflow.fit(dataset)

In [85]:
out = workflow.transform(dataset)

In [86]:
out.head(30)

,recipient,timestamp-first,buyAsset-list,et_dayofweek_sin-list,txFee_eth_log_norm-list,buyQty1_log_norm-list,buyPrice_log_norm-list,token_category-list,token_rank_category-list,risky_flags-list
0,0x000000000004d7463d0f9c77383600bc82d612f5,2022-01-01 20:14:35,"[489, 418, 956, 24, 359, 1476, 1017, 714, 503,...","[0.43388293040961884, 0.43388293040961884, -0....","[-0.9175754, -0.83067816, -0.83143824, -0.8746...","[0.6312247, 0.47244197, 0.35492983, 0.55758375...","[0.23752865, 0.23259208, 0.23522705, 0.7562598...","[20, 28, 34, 4, 20, 13, 23, 13, 15, 4, 6, 4, 1...","[3, 3, 5, 3, 3, 3, 5, 5, 6, 3, 5, 3, 3, 5, 5, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, ..."
1,0x0000000000086013192a2c9a506742a43c916e1e,2022-01-09 07:44:40,"[4, 12, 150, 4]","[8.975979006501142e-07, 0.7818320421108522, 0....","[2.0464702, 0.92810464, 0.78188777, 5.520375]","[-1.0953704, -0.9503246, -0.2560672, -1.1121765]","[0.33380482, -0.24131858, -0.47064275, 0.18693...","[5, 4, 4, 5]","[3, 3, 5, 3]","[3, 3, 3, 3]"
2,0x000000000008e4db6a6194c6957df47e30970dc2,2022-02-23 18:48:34,"[4, 5, 113]","[0.43388293040961884, 0.43388293040961884, -0....","[1.1193919, -0.6704848, -0.7880669]","[-1.1768427, -0.7273375, -0.25471848]","[-0.79159683, -1.9954994, -0.9924365]","[5, 3, 5]","[3, 4, 5]","[3, 4, 3]"
3,0x00000000000cd56832ce5dfbcbff02e7ec639bc9,2022-01-28 21:47:38,"[614, 4]","[-0.9749281119157542, 8.975979006501142e-07]","[0.17984277, 0.0010065734]","[-0.5672601, -1.1894143]","[-0.91757536, -1.4771128]","[4, 5]","[5, 3]","[3, 3]"
4,0x00000000005ef87f8ca7014309ece7260bbcdaeb,2022-01-10 19:19:47,"[12, 3]","[0.7818320421108522, -0.7818309228245777]","[1.4960439, 1.3195738]","[-0.5672601, -0.375894]","[1.1722331, -0.70449436]","[4, 3]","[3, 4]","[3, 3]"
5,0x000000000088e0120f9e6652cc058aec07564f69,2022-02-27 22:21:30,"[3, 252]","[8.975979006501142e-07, 0.9749277124471076]","[-0.5149825, -0.6488472]","[-0.9772498, -1.1934248]","[-2.913314, -3.7022686]","[3, 18]","[4, 5]","[3, 3]"
6,0x00000000009a41862f3b2b0c688b7c0d1940511e,2022-01-05 21:58:02,"[7, 3, 115, 7]","[0.43388293040961884, -0.9749281119157542, -0....","[0.27445528, 1.6043956, 0.5207243, 0.5109864]","[0.104293786, -0.4080194, 0.6173917, 0.30022687]","[1.0587045, -0.8227892, 0.8926254, 1.7782758]","[3, 3, 6, 3]","[4, 4, 5, 4]","[3, 3, 3, 3]"
7,0x0000000002ce79aacd54227d2163ff3791338975,2022-03-28 01:09:48,"[8, 48]","[0.7818320421108522, 0.9749277124471076]","[-0.7984459, -0.7888265]","[-0.5541091, -0.22554801]","[-0.019073183, -0.15272635]","[10, 3]","[6, 7]","[3, 4]"
8,0x00000000047476dfaaf929c8c15fd1e4472e7cf6,2022-01-10 11:24:36,"[18, 977]","[0.7818320421108522, 0.43388293040961884]","[1.3680595, -0.72346777]","[-0.8197306, -0.24944623]","[0.29946572, -0.21152355]","[12, 4]","[5, 3]","[4, 3]"
9,0x000000000e3952882af02e7db0f3157bac7c6b51,2022-03-05 12:17:39,"[81, 1208]","[-0.7818309228245777, -0.7818309228245777]","[-0.5782119, -0.82306945]","[-1.1557566, -0.031170143]","[-3.0342171, -0.9103034]","[5, 4]","[4, 5]","[3, 3]"
10,0x000000000ecef000e9d22b7e0eb78ef2a8e698d5,2022-02-21 01:01:14,"[325, 50, 325]","[0.7818320421108522, 0.43388293040961884, 8.97...","[-0.056406714, -0.52769977, -0.93275106]","[-0.5672601, -0.8953124, -0.62498593]","[0.38858256, 0.29803917, -0.06061316]","[18, 4, 18]","[5, 5, 5]","[3, 3, 3]"
11,0x000000009343fc9c6199b541386d74921f00ef8d,2022-02-19 02:17:33,"[165, 4, 41, 1108]","[-0.7818309228245777, -0.7818309228245777, -0....","[-0.51616174, -0.12878935, -0.5245665, -0.0640...","[0.966836, -1.1868051, -1.0443686, -0.26379484]","[-1.5169492, -1.2371045, -2.0962033, -2.0295448]","[4, 5, 15, 4]","[3, 3, 4, 5]","[3, 3, 3, 3]"
12,0x00000000cc0b822819f03424dacf9077fdaa58a3,2022-01-13 07:20:44,"[3, 28, 21, 52, 28, 5, 28, 7, 3, 28, 3, 30, 28...","[-0.43388454782514785, 8.975979006501142e-07, ...","[0.79636335, -0.0635176, 0.110368766, 0.216747...","[-0.2556233, -0.081995495, -0.26794708, 0.3614...","[-0.2631075, 0.37516063, 0.07168, 2.0033016, 2...","[3, 3, 12, 3, 3, 3, 3, 3, 3, 3, 3, 14, 3, 10, ...","[4, 6, 7, 3, 6, 4, 6, 4, 4, 6, 4, 5, 6, 6, 4, ...","[3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
13,0x00000000e8334445e02d819eafd75addf2133a5f,2022-01-06 04:04:52,"[887, 3, 49, 688, 3]","[-0.43388454782514785, 0.9749277124471076, -0....","[1.1334059, 3.254194, 0.54764026, -0.58602464,...","[-0.2882931, 0.060116824, 1.4774411, 0.2252688...","[0.8996094, 0.89628106, 1.0682855, 0.88818944,...","[4, 3, 6, 14, 3]","[5, 4, 6, 3, 4]","[3, 3, 3, 3, 3]"
14,0x00000005effef1921911cbf45c2397a79db1a402,2022-01-06 07:25:16,"[357, 18, 79, 5]","[-0.43388454782514785, 0.43388293040961884, 8....","[-0.17811151, 0.6393517, 0.58227295, 3.3377018]","[-0.20946161, -0.9503246, -1.1855191, -0.07756...","[-0.33928216, -0.26652297, -0.4688175, 0.390806]","[18, 12, 4, 3]","[6, 5, 3, 4]","[3, 4, 4, 4]"
15,0x0000000698d98a23ecf4bbbfa5af3576f6685e59,2022-01-14 01:51:32,"[3, 4]","[-0.9749281119157542, 0.7818320421108522]","[2.8721902, -0.0894042]","[-0.14014344, -1.1780486]","[0.16099761, -0.86098236]","[3, 5]","[4, 3]","[3, 3]"
16,0x000000070f91b6c56fa08d4f3a26c7fc992b38f4,2022-01-30 07:05:39,"[150, 3]","[8.975979006501142e-07, 0.9749277124471076]","[-0.42649698, -0.2954705]","[-0.34997568, -0.20026931]","[-1.0341479, -0.059817445]","[4, 3]","[5, 4]","[3, 3]"
17,0x0000000776cb411ecd8297de75d4fadb8cf72f56,2022-01-04 18:32:23,"[3, 264]","[0.9749277124471076, -0.43388454782514785]","[0.6293086, 0.3438895]","[-0.060174275, 0.52226365]","[0.45468804, 0.4543321]","[3, 4]","[4, 3]","[3, 4]"
18,0x0000000dbf80f29c9ed7d52116f3037f8deb1902,2022-01-17 12:56:41,"[3, 138, 3]","[0.7818320421108522, 0.7818320421108522, 0.974...","[0.17523941, -0.36143795, -0.18240422]","[0.4137161, -1.0691054, 0.29585642]","[2.1950722, 1.7214705, 1.762227]","[3, 8, 3]","[4, 5, 4]","[3, 3, 3]"
19,0x0000002b90156c77711bebda6b4e29dd3fdd7776,2022-03-14 08:11:12,"[21, 186]","[0.7818320421108522, 0.9749277124471076]","[-0.9597829, -0.037027944]","[-0.14236832, -0.03480035]","[0.20569551, 0.21682888]","[12, 15]","[7, 5]","[3, 3]"
20,0x0000002e4f99cb1e699042699b91623b1334d2f7,2022-01-15 16:02:12,"[36, 4, 36]","[-0.7818309228245777, 0.9749277124471076, 0.97...","[0.5888021, -0.33464015, -0.4269805]","[0.53274345, -1.1263059, 0.42794168]","[0.53401154, 0.08284354, 0.08144148]","[4, 5, 4]","[5, 3, 5]","[3, 3, 3]"
21,0x00000058baccda12cf345edc9d99613cf1312b91,2022-01-02 16:08:51,"[81, 3, 81, 3, 81, 3, 81, 3, 81, 3, 81, 3, 81,...","[-0.9749281119157542, -0.9749281119157542, -0....","[-0.7497262, -0.76542395, -0.68043274, -0.8149...","[-0.4266752, -0.115458004, -0.2389058, 0.05921...","[0.20864387, 0.251656, 0.9387622, 0.89313436, ...","[5, 3, 5, 3, 5, 3, 5, 3, 5, 3, 5, 3, 5, 3, 5, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
22,0x000000c7000cc57fd1bf6729849b9edcc8fe9102,2022-01-07 07:02:00,"[133, 97, 3, 78, 597]","[-0.9749281119157542, 0.9749277124471076, 0.43...","[-0.17235617, 0.7377262, 0.5230414, 0.406836, ...","[-1.1077759, 0.5660889, 0.4240765, 0.28075993,...","[1.4138694, 1.4741518, 2.2331212, 2.2162964, 0...","[4, 27, 3, 15, 6]","[6, 3, 4, 5, 5]","[3, 3, 3, 3, 3]"
23,0x000000ef262dc65c155ac2833851a9c84d0a4d2e,2022-02-16 15:37:11,"[5, 57]","[0.43388293040961884, 0.43388293040961884]","[0.11096219, 0.04181677]","[-1.0993807, -0.2950538]","[-3.3618457, -3.349542]","[3, 10]","[4, 3]","[4, 4]"
24,0x000000faceff53eaaa8bafb76eab82fad96eb8e0,2022-01-17 19:56:51,"[42, 7, 38]","[0.7818320421108522, 0.43388293040961884, -0.9...","[0.31247884, 0.2577876, -0.3858559]","[0.22255059, 0.3890585, 0.00018451222]","[0.8875451, 2.1045442, 0.22210711]","[6, 3, 4]","[3, 4, 4]","[4, 3, 3]"
25,0x000000fe532a821196a4664208ae7b61513b243e,2022-02-21 02:17:08,"[3, 5, 3, 542]","[0.7818320421108522, 0.9749277124471076, 0.433...","[1.1244539, -0.47051114, -0.43976182, -0.5973885]","[-0.06495102, 0.02740317, 0.24337848, 0.675791]","[0.43714523, 0.7763202, 1.5692343, 0.19855118]","[3, 3, 3, 13]","[4, 4, 4, 5]","[3, 4, 3, 3]"
26,0x000006eee6e39015cb523aebdd4d0b1855aba682,2022-01-25 15:51:57,"[64, 32, 220]","[0.9749277124471076, 0.9749277124471076, -0.78...","[0.02665212, 0.24881665, -0.33882773]","[-0.10342854, -0.49174836, 0.6858244]","[0.523371, 0.52493674, 0.7347282]","[4, 18, 8]","[5, 6, 3]","[3, 3, 3]"
27,0x0000089f71d95e93a139bf6535ce49a03c2b8383,2022-01-28 06:15:15,"[3, 50, 3, 24, 111, 3]","[-0.9749281119157542, 8.975979006501142e-07, 0...","[0.38319057, -0.15737858, 0.8448194, 1.0875148...","[0.08523015, -0.83702356, -0.7337825, 0.505340...","[0.98869246, 0.98618394, -2.0193374, 0.6247569...","[3, 4, 3, 4, 4, 3]","[4, 5, 4, 3, 5, 4]","[3, 3, 3, 3, 3, 3]"
28,0x0000163a309dff727ac6646408b1818a8451c229,2022-01-23 23:31:22,"[627, 328]","[8.975979006501142e-07, 8.975979006501142e-07]","[-0.09278177, 0.06725612]","[-0.6107712, 0.39915788]","[-1.0018747, -1.1271026]","[21, 13]","[5, 5]","[3, 3]"
29,0x000026e85e28d8e2bc48f64ba63cd1d3419e4774,2022-01-04 04:37:18,"[324, 199, 4]","[0.9749277124471076, 0.7818320421108522, -0.43...","[-0.40667894, 0.6555096, 1.8280808]","[0.9474217, 2.1415966, -1.1007444]","[-2.3699658, 0.42479154, 0.31049263]","[7, 9, 5]","[3, 3, 3]","[3, 3, 3]"

In [87]:
workflow.save('./preprocessWorkflow')

In [88]:
out.to_parquet(f'./data/{month1}-{month3}/data.parquet')